
#icon{
     border-radius: 50%;
     font-size: 20px;
     border: 1px solid black;
    position: relative;
    top: 8px;
}
#botonn{
    width: 100%;
    color: white;
    background-color: navy;
    padding: 12px 0px;
    border-radius: 10px;
    margin: 0 auto;
}
#map{
	width: 100%;
    height: 100%;
	position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#chica{
     border-radius: 50%;
    width: 100px;
    height: 100px;
	position: absolute;
    left:15%;
    top: 15%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 50%;
}
#lyftt{
    width: 80px;
    height: 80px;
	position: absolute;
    left:50%;
    top: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.panel-body {
    padding: 0px;
}
.panel-default {
    border-radius: 15px;
}
.cajita 
{
	width: 98%;
	position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
img{
    width: 50px;
}
h5{
    padding-left: 52px;
    position: relative;
    top: -25px;
    color: teal;
    font-size: 12px;
    width: 210px;
    height: 8px;
}
small{
    position:relative;
    top: -40px;
    left: 50px;
}
.pull-right{
    position: relative;
    top: -61px;
}
.input-group-addon{
    background-color: white;
    border-radius: 18px;
}
.letra{
    font-size: 14px;
    font-family: cursive;
    color: darkgray;
}
