

body {
    font-family: "Merriweather", serif;
}
p, a {
    font-family: "Open Sans", sans-serif;
}

/*------------------------------------- HERO  */

input{
    width: 100%;
    background-color: dimgrey;
    color: white;
    padding: 15px 0px;
}

hr{
    border:1px solid rgba(105, 105, 105, 0.31);
}
#driver{

    border-radius: 50%;
    width: 130px;
    height: 130px;
}
#imagen{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
.boton{
    text-align: center;
    padding-bottom: 40px;
}
.precio{
    text-align: center;
    padding-bottom: 100px;
}
#precio{
    display: inline-block;
}
#dolar{
    display: inline-block;
}
h4{
    position: relative;
    top: 4px;
    display: inline-block;
}
.btn-danger {
    background-color: #ea0eb3;
    border-color: #fe00c1;
}
#let{
    position: relative;
    top: 4px;
    left: 42px;
}
#name_driver{
    color: white;
    background-color:#f446cd;
    border-radius: 15px;
}
